.room{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.roombox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:2px solid gray;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}
.row1 , .row3{
    display: flex;
    justify-content: center;
    align-items: center;

}
.val1{
    width: 50px;
    height: 70px;
    background-color: rgba(59, 161, 59, 0.596);
    border-radius: 15px;
    margin: 8px;
}
.row2{
    display: flex;
}
Select{
    width: 80px;
}
.slectv{
    width: 130px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
background-color: rgba(173, 170, 170, 0.562);
border: 1px solid rgba(173, 170, 170, 0.562);
font-size: 20px;
}
.val1{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h3{
    font-size: 35px;
}
.buttonr{
    margin: 10px;
    padding: 10px;
    width: 230px;
    height: 50px;
    border-radius: 20px;
    background-color: lightskyblue;
    border:1px solid lightskyblue;
color:white;
font-size: 25px;
}
